/*Added Toggle button for Amazon*/

/*Added Toggle button for Amazon*/

.rrQuesTextbtnToggleParent {
    position: relative;
}
.rrQuesTextbtnToggle{
    width: 85px;
    height: 30px;
    margin-bottom: 10px!important;
    display: inline-block;
    padding: 0;
    line-height: 28px;
    font-size: 13px;
    border-radius: 6px;
    border-bottom: 2px solid #2d7694;
}
.rrQuesTextCheck{
    position: absolute;
    left: 0;
    top: 0;
    width: 85px !important;
    height: 30px;
    cursor: pointer;
    margin: 0px !important;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.rrQuesTextCheck:focus{
    outline: 0 !important;
}
.rrQuesTextCheck::-ms-check {
    display: none;
}
.rrQuesTextCheck + .hideReadMore {
    display:none;
}
.rrQuesTextCheck:checked + .hideReadMore {
    display:block;
}